asgiref
asttokens
bitsets
concepts
contourpy
cycler
decorator
display
Django
executing
features
fileconfig
fonttools
graphviz
ipython
jedi
kiwisolver
matplotlib
matplotlib-inline
numpy
opencv-python
packaging
parso
pexpect
pillow
prompt-toolkit
ptyprocess
pure-eval
Pygments
pyparsing
python-dateutil
six
sqlparse
stack-data
traitlets
wcwidth